- experience.each do |work|
  .job.section
    .time
      %span.start= "#{Date::MONTHNAMES[work.start_month]} #{work.start_year}"
      - if work.end_year != 0
        %span.end= "#{Date::MONTHNAMES[work.end_month]} #{work.end_year}"
      - else
        %span.end Present
    .employer= work.company.name
    .title= work.title
    .summary= BlueCloth.new(work.summary).to_html.html_safe
