!!! html
%html
  %head
    %title josephbauser.net
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Permanent+Marker&v1'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cabin&v1'
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .content
      .header
        .title 
          Joseph Bauser
      = yield
    .footer
      %ul
        %li
          %a#googleplus{:href => 'https://plus.google.com/110889592930310051971/about'}
        %li
          %a#linkedin{:href => 'http://www.linkedin.com/in/josephbauser'}
        %li
          %a#github{:href => 'https://github.com/coderjoe'}
        %li
          %a#twitter{:href => 'http://twitter.com/coderjoe'}
        %li
          %a#email{:href => 'mailto:coderjoe@coderjoe.net?subject=A%20question%20from%20josephbauser.net&body=Hello%20from%20josephbauser.net'}
    = google_analytics
