!!! xml
!!!
%html
  %head
    %title 
      josephbauser.net
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'blueprint/ie'
      = stylesheet_link_tag 'ie-custom'
    = stylesheet_link_tag 'custom'
  %body
    .container
      %h1#header.span-24.last<
        %span.firstname> Joseph
        %span.lastname> Bauser
      #content.span-24.last
        = yield
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-526253-1");
      pageTracker._trackPageview();
      } catch(err) {}
